auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /data/loki
  storage:
    filesystem:
      chunks_directory: /data/loki/chunks
      rules_directory: /data/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: 24h
  reject_old_samples: false
  reject_old_samples_max_age: 744h
  ingestion_rate_mb: 16
  ingestion_burst_size_mb: 32
  per_stream_rate_limit: 10MB
  per_stream_rate_limit_burst: 20MB
  unordered_writes: true

compactor:
  working_directory: /data/loki/compactor
  shared_store: filesystem
  retention_enabled: true
  compaction_interval: 10m
  retention_delete_delay: 2h
  deletion_mode: filter-and-delete